.colorpreferences {
    --bs-blue: #009ef6;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow--DIPAKE: #ffc91b;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray: #7E8299;
    --bs-gray-dark: #3F4254;
    --bs-white: #ffffff;
    --bs-light: #F5F8FA;
    --bs-primary: #212C5F;
    --bs-secondary: #B2B2B2;
    --bs-success: #40BA50;
    --bs-info: #3ABEE3;
    --bs-warning: #FACA3E;
    --bs-danger: #C5584B;
    --bs-dark: #181C32;
    --bs-font-sans-serif: Poppins, Helvetica, "sans-serif";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}


#kt_aside {
    background-color: #1d428a;
}

#kt_header {
    background-color: #F5F8FA !important;
}

#kt_header, #kt_footer, .footer > div {
    background-color: #212c5f !important;
}

.aktif {
    background-color: #212c5f;
}

/* breadcumbs */
#kt_toolbar_container > ol > li > a {
    color: #212c5f;
}

/* menu */
.menu-gray-800 .menu-item .menu-link:hover {
    color: #3f4254 !important;
    background-color: #FFC91B !important;
}

.menu-link>.menu-title {
    color: #fff !important;
}

.menu-link:hover {
    /* color: #fff !important; */
    background-color: #596ABC !important;
}

.menu-link.active {
    color: #fff !important;
    background-color: #596ABC !important;
}

#\#kt_header_menu > div.menu-item.menu-lg-down-accordion.me-lg-1.show.menu-dropdown > .menu-link {
    background-color: #596ABC !important;
}

#kt_header_user_menu_toggle > div.btn.btn-icon.btn-active-light-primary.w-30px.h-30px.w-md-40px.h-md-40px:hover,
#kt_header_user_menu_toggle > div.btn.btn-icon.btn-active-light-primary.w-30px.h-30px.w-md-40px.h-md-40px.show.menu-dropdown{
    background-color: #596ABC !important;
}

.menu-sub-lg-dropdown {
    border-bottom-color: #212c5f !important;
    border-radius: 0 4px 4px !important;
    border: 0 !important;
    border-bottom: 10px solid #212c5f !important;
    box-shadow: 0 20px 45px rgb(0 0 0 / 8%) !important;
    min-width: 200px !important;
    padding: 10px !important;
    text-align: left !important;
}

.menu-sub-lg-dropdown>.menu-item>.menu-link>.menu-title {
    color: #000 !important;
}

.menu-sub-lg-dropdown>.menu-item>.menu-link:hover {
    background-color: rgba(205, 208, 211, 0.8) !important;
}

.menu-sub-lg-down-accordion .show>.menu-item .menu-lg-down-accordion .show .menu-dropdown{
    background-color: rgba(205, 208, 211, 0.8) !important;
}

.menu-sub-lg-dropdown>.menu-item>.menu-link.active,
.menu-sub-lg-dropdown>.menu-item>.menu-link.active>.menu-title{
    color: #fff !important;
}

/* footer */
#kt_footer > div > ul > li > a:hover {
    color: #fff !important;
    background-color: #212c5f !important;
}

/* modal */
.modal .modal-header {
    text-align: center !important;
    background-color: #212c5f !important;
}

/* container custom */
.kontener {
    padding: 0 100px !important;
}

/* carousel */
.carousel-item .carousel-item-start .carousel-item-prev .carousel-item-end{
    border-radius: 0px 0px 8px 8px !important;
}

/* wrapper */
.card.card-xxl-stretch {
    height: calc(100% - var(--bs-gutter-y));
    background-color:#EBECF1 !important;
}

.card .card-header {
    min-height: 50px !important;
}

.card .headercustom {
    background-color: #212C5F !important;
}

.border-warning {
    border-color: #ffc91b !important;
    border: 1px solid !important;
}

.row {
    --bs-gutter-x: 1 rem !important;
}

.textsplit {
    display: flex;
    justify-content: space-between !important;
    align-items: stretch !important;
    flex-wrap: wrap !important;
}

.border-dot {
    border-color: #ffc91b !important;
    border: 2px dotted !important;
}

.nav-link.text-active-primary.active {
    color: #fff !important;
}

/* form */
/* enable absolute positioning */
.inner-addon {
    position: absolute;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px; top:5px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/* error */

/* error .error {
    color: red;
} */

/* Button */

.btn-info {
    color: #3abee3;
}

/* .btn.btn-primary2 {
   color: #7D8FCF;
   background-color: #7D8FCF;
   border-color: #7D8FCF;
} */


.btn.btn-primary2 {
    color: #fff;
    border-color: #51609F;
    background-color: #51609F
}

.btn.btn-primary2 i {
    color: #fff
}

.btn.btn-primary2 .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #fff
}

.btn.btn-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn.btn-primary2.dropdown-toggle:after {
    color: #fff
}

.btn-check:active+.btn.btn-primary2,
.btn-check:checked+.btn.btn-primary2,
.btn.btn-primary2.active,
.btn.btn-primary2.show,
.btn.btn-primary2:active:not(.btn-active),
.btn.btn-primary2:focus:not(.btn-active),
.btn.btn-primary2:hover:not(.btn-active),
.show>.btn.btn-primary2 {
    color: #fff;
    border-color: #172149;
    background-color: #172149!important
}

.btn-check:active+.btn.btn-primary2 i,
.btn-check:checked+.btn.btn-primary2 i,
.btn.btn-primary2.active i,
.btn.btn-primary2.show i,
.btn.btn-primary2:active:not(.btn-active) i,
.btn.btn-primary2:focus:not(.btn-active) i,
.btn.btn-primary2:hover:not(.btn-active) i,
.show>.btn.btn-primary2 i {
    color: #fff
}

.btn-check:active+.btn.btn-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-primary2.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-primary2.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-primary2:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-primary2:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-primary2:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-primary2 .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #fff
}

.btn-check:active+.btn.btn-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-primary2.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-primary2.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-primary2:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-primary2:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-primary2:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn-check:active+.btn.btn-primary2.dropdown-toggle:after,
.btn-check:checked+.btn.btn-primary2.dropdown-toggle:after,
.btn.btn-primary2.active.dropdown-toggle:after,
.btn.btn-primary2.show.dropdown-toggle:after,
.btn.btn-primary2:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-primary2:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-primary2:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-primary2.dropdown-toggle:after {
    color: #fff
}

.btn.btn-light-primary2 {
    color: #009ef7;
    border-color: #f1faff;
    background-color: #f1faff
}

.btn.btn-light-primary2 i {
    color: #009ef7
}

.btn.btn-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #009ef7
}

.btn.btn-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn.btn-light-primary2.dropdown-toggle:after {
    color: #009ef7
}

.btn-check:active+.btn.btn-light-primary2,
.btn-check:checked+.btn.btn-light-primary2,
.btn.btn-light-primary2.active,
.btn.btn-light-primary2.show,
.btn.btn-light-primary2:active:not(.btn-active),
.btn.btn-light-primary2:focus:not(.btn-active),
.btn.btn-light-primary2:hover:not(.btn-active),
.show>.btn.btn-light-primary2 {
    color: #fff;
    border-color: #009ef7;
    background-color: #009ef7!important
}

.btn-check:active+.btn.btn-light-primary2 i,
.btn-check:checked+.btn.btn-light-primary2 i,
.btn.btn-light-primary2.active i,
.btn.btn-light-primary2.show i,
.btn.btn-light-primary2:active:not(.btn-active) i,
.btn.btn-light-primary2:focus:not(.btn-active) i,
.btn.btn-light-primary2:hover:not(.btn-active) i,
.show>.btn.btn-light-primary2 i {
    color: #fff
}

.btn-check:active+.btn.btn-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary2.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary2.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary2:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary2:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary2:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #fff
}

.btn-check:active+.btn.btn-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary2.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary2.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary2:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary2:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary2:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn-check:active+.btn.btn-light-primary2.dropdown-toggle:after,
.btn-check:checked+.btn.btn-light-primary2.dropdown-toggle:after,
.btn.btn-light-primary2.active.dropdown-toggle:after,
.btn.btn-light-primary2.show.dropdown-toggle:after,
.btn.btn-light-primary2:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-light-primary2:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-light-primary2:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-light-primary2.dropdown-toggle:after {
    color: #fff
}

.btn.btn-bg-primary2 {
    border-color: #009ef7;
    background-color: #009ef7
}

.btn-check:active+.btn.btn-active-primary2,
.btn-check:checked+.btn.btn-active-primary2,
.btn.btn-active-primary2.active,
.btn.btn-active-primary2.show,
.btn.btn-active-primary2:active:not(.btn-active),
.btn.btn-active-primary2:focus:not(.btn-active),
.btn.btn-active-primary2:hover:not(.btn-active),
.show>.btn.btn-active-primary2 {
    color: #fff;
    border-color: #009ef7;
    background-color: #009ef7!important
}

.btn-check:active+.btn.btn-active-primary2 i,
.btn-check:checked+.btn.btn-active-primary2 i,
.btn.btn-active-primary2.active i,
.btn.btn-active-primary2.show i,
.btn.btn-active-primary2:active:not(.btn-active) i,
.btn.btn-active-primary2:focus:not(.btn-active) i,
.btn.btn-active-primary2:hover:not(.btn-active) i,
.show>.btn.btn-active-primary2 i {
    color: #fff
}

.btn-check:active+.btn.btn-active-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary2.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary2.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary2:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary2:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary2:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-active-primary2 .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #fff
}

.btn-check:active+.btn.btn-active-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary2.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary2.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary2:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary2:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary2:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-active-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn-check:active+.btn.btn-active-primary2.dropdown-toggle:after,
.btn-check:checked+.btn.btn-active-primary2.dropdown-toggle:after,
.btn.btn-active-primary2.active.dropdown-toggle:after,
.btn.btn-active-primary2.show.dropdown-toggle:after,
.btn.btn-active-primary2:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-primary2:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-primary2:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-active-primary2.dropdown-toggle:after {
    color: #fff
}

.btn-check:active+.btn.btn-active-light-primary2,
.btn-check:checked+.btn.btn-active-light-primary2,
.btn.btn-active-light-primary2.active,
.btn.btn-active-light-primary2.show,
.btn.btn-active-light-primary2:active:not(.btn-active),
.btn.btn-active-light-primary2:focus:not(.btn-active),
.btn.btn-active-light-primary2:hover:not(.btn-active),
.show>.btn.btn-active-light-primary2 {
    color: #009ef7;
    border-color: #f1faff;
    background-color: #f1faff!important
}

.btn-check:active+.btn.btn-active-light-primary2 i,
.btn-check:checked+.btn.btn-active-light-primary2 i,
.btn.btn-active-light-primary2.active i,
.btn.btn-active-light-primary2.show i,
.btn.btn-active-light-primary2:active:not(.btn-active) i,
.btn.btn-active-light-primary2:focus:not(.btn-active) i,
.btn.btn-active-light-primary2:hover:not(.btn-active) i,
.show>.btn.btn-active-light-primary2 i {
    color: #009ef7
}

.btn-check:active+.btn.btn-active-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-active-light-primary2 .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #009ef7
}

.btn-check:active+.btn.btn-active-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary2:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-active-light-primary2 .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn-check:active+.btn.btn-active-light-primary2.dropdown-toggle:after,
.btn-check:checked+.btn.btn-active-light-primary2.dropdown-toggle:after,
.btn.btn-active-light-primary2.active.dropdown-toggle:after,
.btn.btn-active-light-primary2.show.dropdown-toggle:after,
.btn.btn-active-light-primary2:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-light-primary2:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-light-primary2:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-active-light-primary2.dropdown-toggle:after {
    color: #009ef7
}


/* datatable */
.page-item.active .page-link {
    background-color: #212c5f !important;
}

/* input check */
.form-check-input:checked {
    background-color: #FFC91B   !important;
    border-color: #FFC91B   !important;
    /* animation:pulse 1.3s infinite; */
}

/* checkbox */
.form-check-input:checked[type=checkbox] {
    background-size: 15px;
}

.form-check-input {
    transition: background-color .60s ease-in-out, background-position .60s ease-in-out, border-color .60s ease-in-out, box-shadow .15s ease-in-out !important;

}

/* Datatables serverside */
table.dataTable {
    border-spacing: 1px !important;
}

div.dataTables_wrapper div.dataTables_length {
    padding-left: 1rem !important;
}

table.dataTable>thead .sorting_asc:after {
    opacity: 0 !important;
}

.page-link{
    transition: color .20s ease-in-out,
    background-color .20s ease-in-out,
    border-color .20s ease-in-out,
    box-shadow .20s ease-in-out !important;
}

/* ribbon */
.ribbon .ribbon-label {
    padding: 10px 10px !important;
}

/* toolbar */
#kt_toolbar_container > ol > li > a {
    color: #fff!important;
}

/* accordion */
.accordion-button:not(.collapsed), .accordion-button {
    color:#000 !important;
}

/* generate*/
.menu-item >.tolak:hover{
    background-color: #c5584b !important;
}

.menu-item > .setujui:hover{
    background-color: #50cd89 !important;
}

.menu-item > .tangguhkan:hover{
    background-color: #3abee3 !important;
}


/* svg icon */

.svg-icon.svg-icon-primary svg [fill]:not(.permanent):not(g) {
    fill: #212c5f !important;
}



/* embed */

.embed-responsive {
    position: relative;
    display: block;
    height:600px;
    width:800px;
    padding: 0;
    overflow: hidden;
}

.imageshow:hover{
    transform: scale(1.2);
    transition: 0.3s all ease-in-out;;
}
